@font-face {
    font-family: 'VCR OSD Mono';
    src: url('VCROSDMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.ultrakill {
    font-family: 'VCR OSD Mono';
}
.box { 
    background: linear-gradient(225deg, purple, black, purple, black);
border: 0.5vh solid;
    border-color: rgba(0, 0, 0, 1.0);
padding: 1%;
height: 87%;
opacity: 1.0;
width: 22.5%;
border-radius: 5vh;
    font-size: 1.5vh;
    }
.centered {
display: flex;
justify-content: center;
align-items: center;
height: 90vh; 
    }
body, html {  
  margin: 0;
  padding: 0;
  height: 100%;
    width: 100%;
  overflow: hidden;
}
.white-text {
    color: white;
}
